<!DOCTYPE html>
<html>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, user-scalable=no" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Averia+Libre:ital,wght@1,700&family=Kaisei+Tokumin&family=Noto+Serif+JP&display=swap" rel="stylesheet">
    <link rel='stylesheet' id='main-css'  href='style.css' type='text/css' media='all' />    
    <head>

    </head>
    <body>
        <div id="app">
        <div class="outerbox">
        <header>
            <div>
                <Header1></Header1>
                <ul>
                    <li v-for="category in category_lists">
                    <input type="checkbox" 
                    v-bind:id="category" 
                    v-bind:value="category" 
                    v-model="preview"
                    @change="find_categories">
                    <label v-bind:for="category">{{ category }}</label>
                </li>
                </ul>
            </div>
        </header>
        <div id="main-cont">
            <p>選択しているカテゴリ：{{ preview }}</p>
             <ul class="category-list">
                <li v-for="item in items" v-show="item.display">
                    <div class="tag">no.{{ item.id }}<span class="title">{{ item.name }}</span><ul><li v-for="category in item.categories">{{ category }}</li></ul></div>
                    <img v-bind:src="item.img"/>
                 </li>
             </ul>        
        </div>
        </div> 
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
        <script src="js/app.js"></script>      
    </body>
</html>
