@charset "utf-8";

ul{list-style: none;padding: 0;}
body{font-family: 'Noto Serif JP', serif;color: #3a3a3a;}
.outerbox{display: flex;}
header{min-width: 240px;margin: 40px;}
header > div:first-child{position: sticky;top:40px;}
h1{font-family:  'Kaisei Tokumin', serif;}
h1 span{display: block;font-size: .45em;margin-top: 1em;}
.lang-menu li{display: inline-block;}
.lang-menu li:first-child::after{content:"/";margin:0 8px;}
.lang-menu, .main-menu{margin:2em 0;}
.menu-title{border-bottom: 1px solid;padding-bottom: .5em;}
.menu-title + p svg{margin-left: 8px;}

.category-list{display: grid;  gap:4vw 2vw; grid-template-columns: repeat(4, 1fr);}
.category-list li{position: relative;}
.category-list li img{width: 100%;}
.tag{position: absolute;background:url(img/paper2.jpg) repeat;padding:1em;margin: 0;bottom: 0;left: 0;font-family: 'Averia Libre', cursive;font-size: 14px;}
.tag span{display: block;font-size: 1.25em;}
